.buttonsContainer button {
  margin-right: 30px;
}
.responseContainer {
  display: flex;
  align-items: center;
  margin: 90px;
  height: 225px;
}
.code {
  font-weight: 500;
  font-size: 30px;
}

.text, .info  {
  font-weight: 500;
  font-size: 16px;
}
