.sidebar {
  height: 100%;
  max-width: 350px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 63px 30px 20px 70px;
  color: #fff;
  z-index: 15;
  display: none;
}

.sidebar.open {
  display: block;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 13;
  background: #000000;
  opacity: 0.3;
}

.nav a {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 45px;
}

.nav a:hover {
  color: #58acff;
  cursor: pointer;
}
.nav a:active {
  color: #3D6B99;
}
.nav a.active {
  color: #0059b2;
  text-decoration: underline;
}
.close {
  border: none;
  background: none;
  position: absolute;
  top: 22px;
  right: 30px;
  cursor: pointer;
}

