.friendMessage {
  margin-top: 55px;
  margin-left: 50px;
}

.friendImageAndText {
  display: flex;
}

.friendImageAndText img {
  width: 48px;
  height: 48px;
  margin-top: auto;
}

.friendText {
  background-color: #F5F7FB;
  box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
  color: #000;
  border-radius: 8px 8px 8px 0px;
  position: relative;
  padding: 10px;
  margin-left: 10px;
}

.friendText:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 10px solid #F5F7FB;
  border-left: 10px solid transparent;
  left: -10px;
  bottom: 0;
}

.friendName {
  font-size: 18px;
  margin-right: 10px;
}

.friendMessageText {
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.friendTime {
  font-weight: 600;
  font-size: 10px;
  margin-left: 10px;
}
